:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* REMINDER
background-color: var(--main-bg-color);

Font-size (paragraph): 15px

font-family: 'Outfit', sans-serif;
*/

body {
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    font-size: 15px;
}

.card {
    max-width: 325px;
    margin: 0px !important;
}