:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsla(219, 15%, 55%, 0.178);
    --dark-blue: hsl(218, 44%, 22%);
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* REMINDER
background-color: var(--main-bg-color);

Font-size (paragraph): 15px

font-family: 'Outfit', sans-serif;
*/

body {
    background-color: var(--light-gray);
    
    height: 100vh;
    font-size: 15px;
}

.card {
    width: 325px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px var(--grayish-blue);
}

.card-title {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.card-text {
    font-family: 'Outfit', sans-serif !important;
    font-weight: 400;
    margin-left: 12px;
    margin-right: 12px;
}

.card-img {
    border-radius: 8px;
}